  :root {
        --gap: 16px;
        --card-bg: #ffffff;
        --border: #e3e7ee
    }

    .form-root {
        max-width: 980px;
        margin: 18px auto;
        padding: 18px;
        box-sizing: border-box;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue';
    }


    .label  {text-wrap: auto;
    font-size: 16px !important;
    color: #555
    }

    .cabecera{

    background-repeat: no-repeat;
    font-size: 17px;
    font-weight: bold;
}
    